body {                 
   background: #dfdfdf;
}

p {
  color: rgb(34, 34, 34);
}

.foto-de-perfil {
  width: 200px;
  border: 2px solid #ffffff; /*Nome é SHORTHAND*/
  border-radius: 50% ; /*deixar as bordas mais arredondadas*/
  margin: 30px; /*shorthand, se todos lados forem iguais deixar apenas um valor*/
 /*padding:10px;*/
}