body {                 /* body é o seletor*/
   background: red; /* propriedade e valor */ /*background = cor fundo de tela*/
}

h3{
   color: green; /* todos h3 terão a cor verde.*/
                  /* Propriedade COLOR serve para alterar a cor de um texto*/
}

.foto-de-perfil {     /* (.) o ponto significa que é uma Class*/
      width: 200px;
}

#titulo-principal {   /* (#) hash significa ID é mais utilizado em JavaScript */
   color: yellow;
}