body {                 
   background-image: url(background.jpg);
   background-repeat: no-repeat;
   /*background-position: 100% 10%;*/ /*porcentagens 1 valor = 100% distancia do lado esquerdo
    e 2 valor = 10% a distancia do topo*/
    background-position: center center;
    background-size: cover; /* nao repete e cobre a tela toda*/
    background-attachment: fixed; /* imagem de fundo fixa*/
}

p {
  color: rgb(34,34,34);
}