.example {
    color: black;
}

.example-item {
    display: inline;
}

.example-item-first {
    background-color: red;
}

.example-item-second {
    background-color:yellow;
}

.example-item-third {
    background-color: rgb(237, 70, 98);
}