body {                 
   background: #dfdfdf;
}

p {
  color: rgb(34, 34, 34);
}

.foto-de-perfil {
  width: 200px;
  border: 2px solid #ffffff; /*Nome é SHORTHAND*/
  border-radius: 50% ; /*deixar as bordas mais arredondadas*/

 /* 
  border-width: 5px; #pode ser simplificado como no exemplo acima de shorthand#
  border-style: solid;
  border-color: hotpink;
*/
}