* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size:25px;
    list-style: none;
}

.example {
    color: black;
    text-align: justify;
}

.example::after  {
    content:'';
    display: inline-block;
    width:100%;
}


.example-item {
    display: inline-block;
    width: 25%;
    height: 150px;
    text-align: center;
}

.example-item-first {
    background-color: red;
}

.example-item-second {
    background-color:yellow;

}

.example-item-third {
    background-color: rgb(237, 70, 98);
    
}
