@mixin resetar-lista($margem: 0, $espacamento: 0, $estilo: none) {
/*aceita parametros dentro ()*/    
    margin: $margem;
    padding: $espacamento;          
    list-style: $estilo;
}
/*@mixin permite criar codigo CSS que deve ser reutilizado em todo o site*/

@mixin bg-effect($effect) {
    @if $effect == success {
        background-color: green;
    }
    @else if $effect == warning {
        color: black;
        background-color: yellow;
    }
    @else if $effect == danger {
        background-color: red;
    }
    @else {
        background-color: white;
    }
}
